<!DOCTYPE html>
<html lang="en" >
<head>
<title></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="icon" href="images/labify.png" type="image/x-icon">
<link rel='stylesheet' href='css/fonts.googleapis.css'>
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
<link rel="stylesheet" href="css/app.css"/>
<link rel="stylesheet" href="css/experiment.css"/>
<script src="js/createjs-2015.05.21.min.js"></script>
<script src="js/canvasjs.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-fullscreen/angular-fullscreen.js"></script>
<script src="js/Gettext.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script src="js/getlanguage.js"></script>
<script src="js/user_controller.js"></script>
<script src="js/view.js"></script>
<script src="js/experiment.js"></script>
<script type="text/javascript">
    angular
    .module('starterApp', ['ngMaterial','users'])
    .config(function($mdThemingProvider, $mdIconProvider){
        $mdIconProvider
            .icon("menu"       , "images/menu.svg"        , 24)
            .icon("fullscreen"       , "images/Icon3.svg", 24)
            .icon("help"      , "images/Icon2.svg", 24);
            $mdThemingProvider.theme('default')
                .primaryPalette('blue')
                .accentPalette('red');
    });
</script>
<style>
    body{
        color: wheat;
    }
</style>
</head>

<body style="background-color: #242424" ng-app="starterApp" ng-controller="UserController as ul">
<md-toolbar class="md-toolbar-tools" id="main" style="background-color: #242424; color: wheat;">
    <md-button class="md-icon-button" hide-gt-md ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <!-- //Experiment title gives here//   -->
    <h1 flex="" layout="row" class="expTitle" id="expTitle">{{heading}}</h1>
    <md-button class="md-icon-button" aria-label="help" ng-click="showActionToast()" style="color: wheat;">
        <md-icon md-svg-icon="help"  style="color: wheat;"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="fullscreen" ng-click="goFullscreen()"  style="color: wheat;">
        <md-icon md-svg-icon="fullscreen"  style="color: wheat;"></md-icon>
    </md-button>
</md-toolbar>
<md-content flex layout="row" style="color: wheat; background-color: #242424;">
<md-content id="content" layout="column" style="color: wheat; background-color: #242424;">
    <canvas id="demoCanvas" width="700" height="700" align="center" layout-fill experiment></canvas>
    <md-content  id="graphDiv"> 
    </md-content>
    <div id="Copyright">{{copyright}}</div>
</md-content>
<md-sidenav id="site-sidenav" class="site-sidenav md-sidenav-left" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" style="color: wheat; background-color: #242424;">
<div>
    <md-button id="variables" class="md-raised md-primary toolbarbutton subTitle" ng-click="toggle1()" style="color: wheat; background-color: #2d2d2d;">{{variables}}
        <span aria-hidden="true">
<md-icon md-svg-src="md-toggle-arrow"  aria-hidden="true" ng-animate="{enter: 'rotate', leave: 'rotateCounterwise'}" ng-class="{true: 'rotate', false: 'rotateCounterwise'}[isActive1]" ></md-icon>
</span></md-button>
      
      <!-- ////////////   -->
      <div ng-hide="showVariables" class="div" style="color: wheat; background-color: #2d2d2d;">
        
        <div ng-show="true" style="color: wheat; background-color: #2d2d2d;">
            <!-- Button for start and stop experiment  -->
            <section layout="row" layout-align="center center">
              <md-button class="md-raised" ng-model = "startExp" id="btnStartStop" ng-click="startStopExperiment();" style="color: wheat; background-color: black;">{{txtStartStop}}</md-button>
            </section>
            <!-- Insert dropdown label for beam -->
            <md-content class="md-title selectable" layout-padding style="color: wheat; background-color: #2d2d2d;">{{select_lamp_txt}}</md-content>
            <!-- Insert dropdown box for beam -->
            <md-select placeholder="{{lamp_array[0].text}}" ng-model="beam" ng-change="changeBeam();" aria-label="beam" layout="row" layout-align="center" id="beam">
                <md-option ng-repeat="x in lamp_array" value="{{ x.index }}" label="{{x.index}}">{{ x.text }}</md-option>
            </md-select>
            

            <!-- Slider label for z-axis detector distance -->
            <md-content class="md-title selectable" layout-padding style="color: wheat; background-color: #2d2d2d;">{{zAxisText}}  {{zAxisDistance}} {{unitCm}}</md-content>
            <!-- Slider for z-axis distance of detector -->
            <div layout style="color: wheat; background-color: #2d2d2d;">      
                <md-slider flex ng-model="zAxisDistance" step="25" min="50" max="200" aria-label="rating" ng-disabled ="startExp" ng-change="setZdistance();"></md-slider>        
            </div> 
            <!-- Slider label for x-axis detector distance -->
            <md-content class="md-title selectable" layout-padding style="color: wheat; background-color: #2d2d2d;">{{xAxisText}}</md-content>
            <!-- Slider for x-axis distance of detector -->
            <div layout>      
                <md-slider flex ng-model="xAxisDistance" step="0.001" min="-.1" max=".1" aria-label="rating" ng-disabled ="startExp" ng-change="setXdistance();"></md-slider>        
            </div> 

            <!-- Insert checkbox -->
            <md-checkbox class="md-title selectable" layout="row" layout-align="center center" ng-model="graphShow" aria-label="Checkbox 1" id="showGraph" ng-change="showGraph()" style="color: wheat; background-color: #2d2d2d;">{{showGraphText}}</md-checkbox>

            <!-- Button for reset experiment  -->
            <section layout="row" layout-align="center center">
              <md-button class="md-raised" id="reset_btn" ng-click="resetExperiment();" style="color: wheat; background-color: black">{{reset_txt}}</md-button>
            </section>
        </div>
      </div>      
      <!-- ////////////   -->
      
    <md-button id="result" class="md-raised md-primary toolbarbutton subTitle" ng-click="toggle()" style="color: wheat; background-color: #2d2d2d;">{{result}} 
      <span aria-hidden="true">
        <md-icon md-svg-src="md-toggle-arrow"   aria-hidden="true" ng-animate="{enter: 'rotate', leave: 'rotateCounterwise'}" ng-class="{true: 'rotate', false: 'rotateCounterwise'}[isActive]" ></md-icon>
      </span> 
    </md-button>
        <!-- //inset result label //   -->       
        <div ng-hide="showValue" class="div">
            <!-- Result label for Divergence(mrad)  -->
            <md-content class="md-title selectable" layout-padding style="color: wheat; background-color: #2d2d2d;">{{txtDivergence}}{{divergence}}</md-content>
            <!-- Result label for BeamWaist(mm) -->
            <md-content class="md-title selectable" layout-padding style="color: wheat; background-color: #2d2d2d;">{{txtBeamWaist}}{{beamWaist}}</md-content>
            <!-- Result label for Spot Size At Z(mm) -->
            <md-content class="md-title selectable" layout-padding style="color: wheat; background-color: #2d2d2d;">{{txtSpotSize}}{{spotSize}}</md-content>
        </div>
    </div>
  </md-sidenav>
</md-content>
</body>
<script src="js/loading.js"></script>
</html>
